:80 {
	encode zstd gzip

	route {
		root * /usr/share/caddy

		# デフォルトで HTTP Cache を無効化
		header Cache-Control "no-cache, no-store, must-revalidate"

		@clear {
            path /clear
			method POST
        }
        handle @clear {
            header Clear-Site-Data "\"cookies\""
            header Cache-Control "no-store, max-age=0"
            respond "Cookie cleared" 200
        }

		@assets {
			path /assets/*
		}
		header @assets Cache-Control "max-age=31536000, immutable"

		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}
}
