.material-symbols {
  /* 親要素のフォントスタイルをリセット */
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  font-family: 'Material Symbols Outlined Variable', sans-serif;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  --ms-fill: 0;
  font-weight: 100;
  font-variation-settings: 'FILL' var(--ms-fill), 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols.fill {
  --ms-fill: 1;
}
