:root {
  --color-black: #000000;
  --color-dark-gray: #444444;
  --color-gray: #aaaaaa;
  --color-light-gray: #e0e0e0;
  --color-white: #f6f6f6;
  --color-exwhite: #ffffff;

  --color-ash: var(--color-dark-gray);
  --color-ash-pale: var(--color-light-gray);

  --color-orange: #ff7300;
  --color-orange-pale: #ffe2b2;
  --color-green: #178000;
  --color-green-pale: #acf69c;
  --color-red: #ff4d00;
  --color-red-pale: #ffc9b2;
  --color-blue: #008cff;
  --color-blue-pale: #9dd8ff;
  --color-navy: #2444a4;
  --color-navy-pale: #afc3ff;
  --color-purple: #7210C8;
  --color-purple-pale: #DEB9FF;
  --color-pink: #EE4DBE;
  --color-pink-pale: #FFB6E9;

  --color-theme: var(--color-orange);
  --color-theme-pale: var(--color-orange-pale);

  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-line: var(--color-gray);
  --color-text-sub: var(--color-dark-gray);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
router-link,
input,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}
