:root {
  /* Core colors */
  --color-background: #f6f6f6;
  --color-surface: #ffffff;
  --color-primary: #ff7300;
  --color-primary-light: #FFE5C9;
  --color-secondary: #444444;

  /* Text colors */
  --color-text: #000000;
  --color-text-sub: #444444;
  --color-line: #aaaaaa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
router-link,
input,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}